In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [6]:
df = pd.read_csv("/Pokemon.csv")
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [24]:
df = df.rename(columns={"#":"número na pokedex", "Name":"nome", "Type 1":"tipo 1", "Type 2":"tipo 2", "Total":"total", "HP":"vida","Attack":"ataque","Defense":"defesa","Sp. Atk":"ataque especial", "Sp. Def":"defesa especial", "Speed":"velocidade","Generation":"geração","Legendary":"lendário"})

In [11]:
df.shape

(800, 13)

In [12]:
df.columns

Index(['número na pokedex', 'nome', 'tipo 1', 'Type 2', 'total', 'vida',
       'ataque', 'defesa', 'ataque especial', 'defesa especial', 'velocidade',
       'geração', 'lendário'],
      dtype='object')

In [13]:
df.head(15)

,número na pokedex,nome,tipo 1,Type 2,total,vida,ataque,defesa,ataque especial,defesa especial,velocidade,geração,lendário
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False
10,8,Wartortle,Water,NaN,405,59,63,80,65,80,58,1,False
11,9,Blastoise,Water,NaN,530,79,83,100,85,105,78,1,False
12,9,BlastoiseMega Blastoise,Water,NaN,630,79,103,120,135,115,78,1,False
13,10,Caterpie,Bug,NaN,195,45,30,35,20,20,45,1,False
14,11,Metapod,Bug,NaN,205,50,20,55,25,25,30,1,False

In [14]:
df.tail()

,número na pokedex,nome,tipo 1,Type 2,total,vida,ataque,defesa,ataque especial,defesa especial,velocidade,geração,lendário
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [16]:
df.describe()

,número na pokedex,total,vida,ataque,defesa,ataque especial,defesa especial,velocidade,geração
count,800.000000,800.00000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,435.10250,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,119.96304,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,180.00000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,330.00000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,450.00000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,515.00000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,780.00000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [17]:
df['tipo 1'].unique()

array(['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric',
       'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice',
       'Dragon', 'Dark', 'Steel', 'Flying'], dtype=object)

In [19]:
tipo_fogo = df.loc[df['tipo 1'] == 'Fire']

In [20]:
tipo_fogo.head()

,número na pokedex,nome,tipo 1,Type 2,total,vida,ataque,defesa,ataque especial,defesa especial,velocidade,geração,lendário
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False

In [22]:
tipo_fogo['tipo 1'].unique()

array(['Fire'], dtype=object)

In [25]:
df.groupby('tipo 1')['tipo 2'].nunique()

tipo 1
Bug         11
Dark         8
Dragon       7
Electric    10
Fairy        1
Fighting     4
Fire         9
Flying       1
Ghost        6
Grass       10
Ground       9
Ice          5
Normal       7
Poison       7
Psychic      7
Rock        12
Steel        8
Water       14
Name: tipo 2, dtype: int64

In [26]:
df.groupby('tipo 1')['total'].mean()

tipo 1
Bug         378.927536
Dark        445.741935
Dragon      550.531250
Electric    443.409091
Fairy       413.176471
Fighting    416.444444
Fire        458.076923
Flying      485.000000
Ghost       439.562500
Grass       421.142857
Ground      437.500000
Ice         433.458333
Normal      401.683673
Poison      399.142857
Psychic     475.947368
Rock        453.750000
Steel       487.703704
Water       430.455357
Name: total, dtype: float64

In [27]:
df['ataque'].mean()

79.00125

In [28]:
df.dtypes

número na pokedex     int64
nome                 object
tipo 1               object
tipo 2               object
total                 int64
vida                  int64
ataque                int64
defesa                int64
ataque especial       int64
defesa especial       int64
velocidade            int64
geração               int64
lendário               bool
dtype: object

In [29]:
df['tipo 2'].fillna("None", inplace = True)

In [30]:
df.head()

,número na pokedex,nome,tipo 1,tipo 2,total,vida,ataque,defesa,ataque especial,defesa especial,velocidade,geração,lendário
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,None,309,39,52,43,60,50,65,1,False

In [31]:
df.sample(11)

,número na pokedex,nome,tipo 1,tipo 2,total,vida,ataque,defesa,ataque especial,defesa especial,velocidade,geração,lendário
568,509,Purrloin,Dark,None,281,41,50,37,50,37,66,5,False
751,681,AegislashShield Forme,Steel,Ghost,520,60,50,150,50,150,60,6,False
294,271,Lombre,Water,Grass,340,60,50,50,60,70,50,3,False
736,668,Pyroar,Fire,Normal,507,86,68,72,109,66,106,6,False
208,193,Yanma,Bug,Flying,390,65,65,45,75,45,95,2,False
775,705,Sliggoo,Dragon,None,452,68,75,53,83,113,60,6,False
296,273,Seedot,Grass,None,220,40,40,50,30,30,30,3,False
502,452,Drapion,Poison,Dark,500,70,90,110,60,75,95,4,False
596,536,Palpitoad,Water,Ground,384,75,65,55,65,55,69,5,False
26,21,Spearow,Normal,Flying,262,40,60,30,31,31,70,1,False
128,119,Seaking,Water,None,450,80,92,65,65,80,68,1,False

In [34]:
df['ataque'].max()

190

In [33]:
df.nlargest(5, 'ataque')

,número na pokedex,nome,tipo 1,tipo 2,total,vida,ataque,defesa,ataque especial,defesa especial,velocidade,geração,lendário
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True
232,214,HeracrossMega Heracross,Bug,Fighting,600,80,185,115,40,105,75,2,False
424,383,GroudonPrimal Groudon,Ground,Fire,770,100,180,160,150,90,90,3,True
426,384,RayquazaMega Rayquaza,Dragon,Flying,780,105,180,100,180,100,115,3,True
429,386,DeoxysAttack Forme,Psychic,None,600,50,180,20,180,20,150,3,True

In [35]:
df.sort_values('ataque', ascending = False).head(15)

,número na pokedex,nome,tipo 1,tipo 2,total,vida,ataque,defesa,ataque especial,defesa especial,velocidade,geração,lendário
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True
232,214,HeracrossMega Heracross,Bug,Fighting,600,80,185,115,40,105,75,2,False
424,383,GroudonPrimal Groudon,Ground,Fire,770,100,180,160,150,90,90,3,True
426,384,RayquazaMega Rayquaza,Dragon,Flying,780,105,180,100,180,100,115,3,True
429,386,DeoxysAttack Forme,Psychic,None,600,50,180,20,180,20,150,3,True
711,646,KyuremBlack Kyurem,Dragon,Ice,700,125,170,100,120,90,95,5,True
494,445,GarchompMega Garchomp,Dragon,Ground,700,108,170,115,120,95,92,4,False
527,475,GalladeMega Gallade,Psychic,Fighting,618,68,165,95,65,115,110,4,False
387,354,BanetteMega Banette,Ghost,None,555,64,165,75,93,83,75,3,False
454,409,Rampardos,Rock,None,495,97,165,60,65,50,58,4,False
268,248,TyranitarMega Tyranitar,Rock,Dark,700,100,164,150,95,120,71,2,False
313,289,Slaking,Normal,None,670,150,160,100,95,65,100,3,False
543,486,Regigigas,Normal,None,670,110,160,110,80,110,100,4,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True